[submodule "modules/MMM-OpenWeatherForecast"]
	path = modules/MMM-OpenWeatherForecast
	url = https://github.com/jclarke0000/MMM-OpenWeatherForecast.git
[submodule "modules/MMM-Senamhi"]
	path = modules/MMM-Senamhi
	url = https://github.com/Ukhupacha/MMM-Senamhi.git
[submodule "modules/MMM-Carousel"]
	path = modules/MMM-Carousel
	url = https://github.com/shbatm/MMM-Carousel.git
[submodule "modules/MMM-GoogleTasks"]
	path = modules/MMM-GoogleTasks
	url = https://github.com/Ukhupacha/MMM-GoogleTasks.git
[submodule "modules/MMM-Zkteco"]
	path = modules/MMM-Zkteco
	url = https://github.com/Ukhupacha/MMM-Zkteco.git
[submodule "modules/MMM-MplayerRadio"]
	path = modules/MMM-MplayerRadio
	url = https://github.com/Tom-Hirschberger/MMM-MplayerRadio.git
